@model List<Cars.WebUI.ViewModel.EntrepriseViewModels.EntrepriseViewModel>

<h2>Entreprises avec Contrat Actif</h2>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Contrat Actif</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entreprise in Model)
    {
        <tr>
            <td>@entreprise.Nom</td>
            <td>@entreprise.ContratActif</td>
            <td>@entreprise.ContratActif <a asp-controller="Entreprise" asp-action="Edit" asp-route-id="@entreprise.EntrepriseId" class="btn btn-warning">Modifier</a></td>
        </tr>
        
    }
    </tbody>
    <partial name="_ValidationScriptsPartial"/>
</table>